body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  margin: 0 10px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.article {
  display: flex;
  justify-content: center;
}

.blockBeeline {
  background-color: rgba(0, 0, 0, 0.7);
  width: 43%;
  margin: 0 30px;
}

.blockBeeline .boxDark {
  text-align: center;
  padding: 80px 0;
  color: #feffff;
}

.blockBeeline .boxDark > h1 {
  border-bottom: 10px solid #feffff;
  border-top: 10px solid #feffff;
  font-size: 90px;
  letter-spacing: 30px;
  max-width: 40%;
  margin: 0 auto;
  font-weight: 800;
}

.blockBeeline .boxDark > p {
  font-size: 26px;
  padding-top: 25px;
  font-weight: 800;
}

.blockBeeline .boxYellow {
  background-color: yellow;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.boxesRight {
  background-color: green;
  width: 43%;
  margin: 0 30px;
}