body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  margin: 0 10px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.article {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -1295px;
}

.backPage {
  background: url("../img/back1.png") no-repeat, center;
  background-size: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 79%, 0 49%);
  min-height: 1300px;
}

.blockBeeline {
  background-color: rgba(0, 0, 0, 0.7);
  width: 43%;
  margin: 0 30px;
}

.blockBeeline .boxDark {
  text-align: center;
  padding: 80px 0;
  color: #feffff;
}

.blockBeeline .boxDark > h1 {
  border-bottom: 15px solid #feffff;
  border-top: 15px solid #feffff;
  font-size: 90px;
  max-width: 50%;
  margin: 0 auto;
  font-weight: bold;
  font-family: sans-serif;
}

.blockBeeline .boxDark > p {
  font-size: 24px;
  padding-top: 25px;
  font-family: sans-serif;
  font-weight: bold;
}

.blockBeeline .boxYellow,
.blockBeeline .boxEnd {
  font-weight: bold;
}

.blockBeeline .boxYellow {
  background-color: #f5d515;
  clip-path: polygon(0 0, 100% 23%, 100% 100%, 0% 100%);
}

.blockBeeline .boxYellow > h2 {
  padding: 130px 50px 30px 50px;
  font-size: 60px;
  font-weight: bold;
}

.blockBeeline .boxYellow :nth-child(2) {
  font-size: 16px;
  padding: 0 50px;
}

.blockBeeline .boxYellow :nth-child(3) {
  font-size: 16px;
  padding: 30px 50px 50px 50px;
  color: #feffff;
}

.blockBeeline .boxWite {
  text-align: center;
  background-color: #ffffff;
}

.blockBeeline .boxWite > div {
  font-size: 20px;
  padding-top: 60px;
  word-spacing: 5px;
}

.blockBeeline .boxWite > img {
  width: 25%;
  padding: 20px 0;
}

.blockBeeline .boxWite > p {
  padding-bottom: 60px;
}

.blockBeeline .boxWite > p > a {
  text-decoration: none;
  color: #1b1b1b;
  letter-spacing: 1px;
  font-size: 1.6vw;
}

.blockBeeline .boxWite > p > a:hover {
  color: #f5d515;
}

.blockBeeline .boxEnd {
  background-color: #e7371d;
  padding: 50px;
  font-size: 16px;
  color: #feffff;
}

.blockRight {
  width: 43%;
  margin: 0 30px;
}

.blockRight .boxRed {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  background: url("../img/back3.png") center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  min-height: 40%;
}

.blockRight .boxRed > img {
  margin-top: 20%;
  width: 17%;
}

.blockRight .boxRed :nth-child(2) {
  margin-top: 6%;
  font-size: 2vw;
  font-weight: bold;
}

.blockRight .boxRed :nth-child(3) {
  font-size: 10px;
}

.blockRight .boxWeAra {
  background-color: green;
}

.blockRight .boxWeAra > h2 {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 3px solid #d3dedd;
}

.blockRight .contacts {
  background-color: aqua;
}