@import "project.less";

.reset();

.wrapper{
    margin: 0 10px;
}

body {
    font-family: 'Montserrat', sans-serif;            
}


.blockBeeline {
    background-color: yellow;

}

.boxesRight {
    background-color: green;
}